venv/
__pycache__/
documents/
images/
pdf/
json/
security/
dev/
database/
node_modules/
deployment/

*.vscode/
*.env
*package.json
*package-lock.json
*postcss.config.js
*tailwind.config.js
*tailwindcss