.title {
    margin-top: 100px;
    margin-bottom: 50px;
    font-size: 30px;
    color: white;
    text-align: center;

}

.container {
    width: 25%;
    display: block;
    margin: 0 auto;
    border: 2px solid #1C3A64;
    border-radius: 25px;
}

.container li {
    list-style-type: none;
}

.container a {
    color: white;
    font-size: 25px;
    text-decoration: none;
    line-height: 50px;
    transition: 0.2s;
    cursor: pointer;
}

.container a:hover {
    color: #877CCD;
}

.container i {
    padding-right: 10px;
}