.projects {
    margin-top: 150px;
}

.front, .back {
    border: 2px solid #C0A6DF;
    border-radius: 25px;
}

.front a {
    
    padding: 25px;

    border: 2px solid #4A59A7;
    border-radius: 25px;

    color: white;
    font-size: 20px;
    text-decoration: none;

    cursor: pointer;
}

.project-title {
    text-align: center;

    color: white;
    font-size: 25px;

}

.title-back {
    text-align: center;

    color: white;
    font-size: 25px;
}

.back li {
    color: white;
    font-size: 20px;
    list-style-type: none;
}

.description {
    width: 25%;
    color: white;
    font-size: 20px;
}

.link-id a {
    color: #877CCD;
    font-size: 20px;
    text-decoration: underline;

    cursor: pointer;
    transition: 0.2s;
}

.link-id a:hover {
    color: #4A59A7;
    font-size: 22px;
}


/* Flipcard Animation */

/*Main Container */

.flip-card {
    position: relative;
    width: 100%;
    height: 320px;
    perspective: 1000px;
}

/* Back & Front */
.flip-card-inner {
    position: absolute;
    width: 50%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
}

/* Front & Back Layout */

.front,
.back {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* Front */
.front {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform: rotateY(0deg);
}

/* Back */

.back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}

/* Card hover Animation */

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}