main {
    margin-top: 100px;
}

main h2 {
    text-align: center;
    color: white;
    font-size: 30px;
}

main h3 {
    color: white;
    font-size: 28px;
}

main li {
    list-style-type: none;
    color: white;
    font-size: 25px;
    line-height: 45px;
}

.technologie-stack {
    margin-top: 100px;
    margin-left: 50px;

}

main i {
    padding-right: 15px;
}