<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
</head>
<body>
    <header>
        <div class="res-download">
            <a href="#">Click here to download my resume (PDF)</a>
        </div>
        
        <h1 class="website-title">Hello, I'm Alex, a self-taught software developer</h1>

        <nav class="navbar">
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'about' %}">About Me</a></li>
                <li><a href="{% url 'projects'%}">Projects</a></li>
                <li><a href="{% url 'contactform' %}">Contact Me</a></li>
                <li><a href="{% url 'socialmedia' %}">Social Media</a></li>

            </ul>
        </nav>
    </header>

    <main>
        <section class="about-alex">

            <article class="personal-information">
                <h3 class="container-title">Personal Information</h3>
                <ul>
                    <li>Nationality: German</li>
                    <li>Born: 2003</li>
                    <li>Current residence: Germany</li>
                    <li>Languages: German (mother tongue), English (B1–B2)</li>
                    <li>Preferred coding language: Python</li>
                </ul>
            </article>

            <article class="work-experience">
                <h3 class="container-title">Work Experience</h3>
                <ul>
                    <li>2020: Finished High School</li>
                    <li>2022 – 2025: Apprenticeship in Office Management</li>
                    <li>2025 – present: Apprenticeship as Application Developer at Retarus GmbH</li>
                </ul>
            </article>

            <article class="personal-interests">
                <h3 class="container-title">Interests</h3>
                <ul>
                    <li>Machine Learning & Data Science – Main Focus</li>
                    <li>IT Security – Secondary Interest</li>
                    <li>Forensic IT – Secondary Interest</li>
                    <li>IoT & Embedded Systems – Secondary Interest</li>
                    <li>Robotics – Secondary Interest</li>
                    <li>Web Development – Occasional Interest</li>
                </ul>
            </article>

        </section>
    </main>

    <footer>
        <nav class="footer-nav">
            <ul>
                <li><a href="{% url 'legal'%}">Legal Rights</a></li>
                <li><a href="{% url 'imprint' %}">Legal Notice</a></li>
                <li><a href="{% url 'contactform' %}">Contact Me</a></li>
                <p>&copy; 2025 Alex Gramm. All rights reserved.</p>
            </ul>
        </nav>
    </footer>
</body>
</html>