{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Libary Imports-->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/78af35e736.js" crossorigin="anonymous"></script>

    <!--Core Design-->
    <link rel="stylesheet" href="{% static 'css/core/background.css' %}">
    <link rel="stylesheet" href="{%static 'css/core/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'css/core/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/core/footer.css' %}">

    <!--Layout-->
    <link rel="stylesheet" href="{% static 'css/layout/header_grid.css' %}">
    <link rel="stylesheet" href="{% static 'css/layout/footer_grid.css' %}">
    <link rel="stylesheet" href="{% static 'css/layout/base_layout.css' %}">
    <link rel="stylesheet" href="{% static 'css/layout/chatbot_grid.css' %}">

    <!--Page Design-->
    <link rel="stylesheet" href="{% static 'css/page_design/chatbot.css' %}">

   <title>Welcome to my Website</title>
</head>

<body>
    <header>

        <div class="res-download">
            <a href="#"">Click Here to download my resume (PDF)</a>
        </div>
        
        <h1 class="website-title">Hello, I'm Alex, a self-taught software developer</h1>

        <nav class="navbar">
            <ul class="">
                <li><a href="{% url 'home' %}"><i class="fa-solid fa-house"></i>Home</a></li>
            </ul>
        </nav>

    </header>

    <main class="">

        <!--Collect data via form-->

        <section class="data-form">
            <form method="post" action="#">
                <h1 class="Chatbot-Title">Welcome to my AI Chatbot ask him any question about my work, tech stack, or experience and even more</h1>
                <input type="text" id="user-question" name="user-question" required maxlength="250" placeholder="Example: What is Alex’s tech stack?">

                <button type="submit" class="submit-btn" id="submit-button"><i class="fa-solid fa-paper-plane"></i>Ask and get the answer to your question</button>
                <p id="info-text">The data will be collect from the Portfolio-Website (JSON-based)</p>
            </form>
        </section>
    </main>
    <footer>
        <nav>
            <p id="copyright">&copy; 2025 Alex Gramm. All rights reserved.</p>
        </nav>
    </footer>
</body>
</html>