<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <header>

        <div class="res-downlaod">
            <a href="#">Click Here to download my resume (PDF)</a>
        </div>
        
        <h1 class="website-title">Hello, I'm Alex, a self-taught software developer</h1>

        <nav class="navbar">

            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About Me</a></li>
                <li><a href="#">Projects</a></li>
                <li><a href="#">Contact Me</a></li>
                <li><a href="#">Social Media</a></li>
            </ul>

        </nav>

    </header>

    <main>

        <section class="hero-text">

            <div class="hero-container">

                <h2 class="hero-sub-text"> What my goal is?</h2>
                <p class="hero-sub-text">to become a ml engineer and software developer</p>

            </div>

        </section>

        <section class="hero-link">

            <div class="github-btn">
                <a href="#">Visit me on Github</a>
            </div>

        </section>

        <section class="skill-set">
            <div class="skill-container">
                <h3 class="skill-title">Coding Skills</h3>

                <ul>
                    <li>Python: advanced</li>
                    <li>HTML5: beginner</li>
                    <li>CSS: beginner</li>
                    <li>Java: beginner</li>
                    <li>MySQL: beginner</li>
                </ul>
            </div>
        </section>

    </main>

    <footer>
        <nav class="footer-nav">
            <ul>
                <li><a href="#">Legal Rights</a></li>
                <li><a href="#">Legal Notice</a></li>
                <li><a href="#">Contact Me</a></li>
            </ul>
        </nav>

    </footer>
</body>
</html>