<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Imprint</title>
</head>
<body>
    <header>

        <div class="res-downlaod">
            <a href="#">Click Here to download my resume (PDF)</a>
        </div>
        
        <h1 class="website-title">Hello, I'm Alex, a self-taught software developer</h1>

        <nav class="navbar">

            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'about' %}">About Me</a></li>
                <li><a href="{% url 'projects'%}">Projects</a></li>
                <li><a href="{% url 'contactform' %}">Contact Me</a></li>
                <li><a href="{% url 'socialmedia' %}">Social Media</a></li>

            </ul>

        </nav>

    </header>

    <main>
        <section class="imprint">

            <h2 class="title">Imprint</h2>

            <div class="imprint-container">
                <ul>
                    <li>Name: Alex Gramm</li>
                    <li>Street: Inningerstraße 37a</li>
                    <li>Postal Code: 86179 Augsburg</li>
                    <li>Country/ State: Bavaria/ Germany</li>
                    <li>Legal Place: Augsburg</li>

                    <li>Email Adress: <a href="mailto:alexgramm@outlook.de"></a></li>
                </ul>
            </div>
        </section>
    </main>

    <footer>
        <nav class="footer-nav">
            <ul>
                <li><a href="{% url 'legal'%}">Legal Rights</a></li>
                <li><a href="{% url 'imprint' %}">Legal Notice</a></li>
                <li><a href="{% url 'contactform' %}">Contact Me</a></li>
                <p>&copy; 2025 Alex Gramm. All rights reserved.</p>
            </ul>
        </nav>

    </footer>
</body>
</html>