{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!--Libary Imports-->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/78af35e736.js" crossorigin="anonymous"></script>

    <!--Core Design-->
    <link rel="stylesheet" href="{% static 'css/core/background.css' %}">
    <link rel="stylesheet" href="{%static 'css/core/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'css/core/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/core/footer.css' %}">

    <!--Layout-->
    <link rel="stylesheet" href="{% static 'css/layout/header_grid.css' %}">
    <link rel="stylesheet" href="{% static 'css/layout/footer_grid.css' %}">
    <link rel="stylesheet" href="{% static 'css/layout/base_layout.css' %}">
    <link rel="stylesheet" href="{% static 'css/layout/projects-grid.css' %}">

    <!--Page Design-->
    <link rel="stylesheet" href="{% static 'css/page_design/projects.css' %}">


    <title>Projects</title>
</head>
<body>
    <header>

        <div class="res-download">
            <a href="#"">Click Here to download my resume (PDF)</a>
        </div>
        
        <h1 class="website-title">Hello, I'm Alex, a self-taught software developer</h1>

        <nav class="navbar">
            <ul class="">
                <li><a href="{% url 'home' %}"><i class="fa-solid fa-house"></i>Home</a></li>
                <li><a href="{% url 'about' %}"><i class="fa-solid fa-user"></i>About Me</a></li>
                <li><a href="{% url 'projects'%}"><i class="fa-solid fa-diagram-project"></i>Projects</a></li>
                <li><a href="{% url 'contactform' %}"><i class="fa-solid fa-envelope"></i>Contact Me</a></li>
                <li><a href="{% url 'socialmedia' %}"><i class="fa-solid fa-hashtag"></i>Social Media</a></li>
                <li><a href="{% url 'ai-chat' %}"><i class="fa-solid fa-comment-dots"></i>Ai-Chat</a></li>
            </ul>
        </nav>

    </header>

    <main>
        <section class="projects">

            <!-- Project 1 -->
            <div class="flip-card" id="project-1">
                <div class="flip-card-inner">
                <div class="front">
                    <h3 class="project-title">Patient Management System</h3>
                    <a href="#" id="project-link">View on GitHub</a>
                    </div>
                    <div class="back">
                        <h4 class="title-back">Technologies</h4>
                        <ul>
                            <li>Python</li>
                        </ul>
                        <h4 class="title-back">Description</h4>
                        <p class="description">This project simulates a simple patient management system.  
                        It does not include a GUI and does not use a database.</p>
                    </div>
                </div>
            </div>

            <!-- Project 2 -->
            <div class="flip-card" id="project-2">
                <div class="flip-card-inner">
                    <div class="front">
                        <h3 class="project-title">Resume Analyzer</h3>
                        <a href="#">View on GitHub</a>
                    </div>
                    <div class="back">
                        <h4 class="title-back">Technologies</h4>
                        <ul>
                            <li>Python</li>
                            <li>spaCy</li>
                            <li>pytQ6</li>
                            <li>C++</li>
                        </ul>
                        <h4 class="title-back">Description</h4>
                        <p class="description">A tool that calulate how well your resumee matches with an job advertisment</p>
                    </div>
                </div>
            </div>

            <!-- Project 3 -->
            <div class="flip-card" id="project-3">
                <div class="flip-card-inner">
                    <div class="front">
                        <h3 class="project-title">Bank Simulation</h3>
                        <a href="#">View on GitHub</a>
                    </div>
                    <div class="back">
                        <h4 class="title-back">Technologies</h4>
                        <ul>
                            <li>C++</li>
                            <li>Python</li>
                            <li>JSON</li>
                        </ul>
                        <h4 class="title-back">Description</h4>
                        <p class="description">A simulation from a banking software to learn C++</p>
                    </div>
                </div>
            </div>

            <!-- Project 4 -->
            <div class="flip-card" id="project-4">
                <div class="flip-card-inner">
                    <div class="front">
                        <h3 class="project-title">This Portfolio Website</h3>
                        <a href="#">View on GitHub</a>
                    </div>
                    <div class="back">
                        <h4 class="title-back">Description</h4>
                        <p class="description">This is the project you are currently viewing.
                        <div class="link-id">
                            <a href="#" id="techstack">Click here to get to the techstack side</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>

    <footer>
        <nav>
            <ul>
                <li><a href="{% url 'legal'%}" class="legal"><i class="fa-solid fa-scale-balanced "></i> Legal Rights</a></li>
                <li><a href="{% url 'imprint' %}" class="imprint"><i class="fa-solid fa-file-contract "></i> Legal Notice</a></li>
                <li><a href="{% url 'contactform' %}" class="contactform"><i class="fa-solid fa-envelope "></i> Contact Me</a></li>
                <li><a href="{% url 'website_info' %}" class="techstack"><i class="fa-solid fa-gears"></i> Techstack</a></li>
            </ul>
            <p id="copyright">&copy; 2025 Alex Gramm. All rights reserved.</p>
        </nav>
    </footer>
</body>
</html>
